<div class="comments">
 {{#each this}}
    <section>
        <div>
            {{user.user_id}}
        </div>
        <div>
            {{comment_text}}
        </div>
    </section>
</div>
{{/each}}
