{{> post-info}}

{{#if loggedin}}

<form>
    <textarea name="comment_content"></textarea>
</form>

<button type="submit">Add Comment</button>

{{> comments}}

{{else}}
<a href="/login">You must login first to view this page</a>
<script src="/public/js/comment.js"></script>
{{/if}}