<section>
    <a href="/dashboard.handlebars" class="is-pulled-left"> Back to dashboard</a>
    <h2> Create New Post </h2>

    <form class="post-form">
        <div>
            <label for="post-title"> Title: </label>
            <input type="text" id="post-title">
        </div>
        <div>
            <label for="post-content"> Content: </label>
            <input type="text" id="post-content">
        </div>
        <button type="submit" class="button"></button>
    </form>
</section>
    
<script src="/public/js/post.js/"></script>